{box-sizing:border-box;}
.body: font-family (Arial);
background-color: #280137;
margin: 16px;
padding: 2px;

.card: max-width: 600px; margin: 0; padding: 24px; background-color: #FF7034; border: 5px solid cyan

.h1: text: color: black; font-size: 24px; margin; 5px

.p: text: color: black
