body {background-color:#3a1845;
color: rgb(255 255 204);font-family: monospace;text-align: center;font-family: monospace; 
scroll-behavior: smooth; y: mandatory; overflow-y: scroll;}

.flex-container {display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;}

main {flex-grow: 1;}

@media screen and (width >= 80rem) {
  .container {
    margin: 1em 2em;
  }
}

html {
  font-size: 1em;
}

h1 {
  font-size: 2rem;
}

@media (width >= 1200px) {
  h1 {
    font-size: 4rem;
  }
}


.button-05 {
  background-color: #5800cc;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 16px 32px;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.button-05:hover {
  background-color: #fffff;
  color: #5800cc;
border-color: #5800cc;
}


section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autoShow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
  from { opacity: 0;
    transform: translateY(120px);}
  50% {opacity: 0.3;}
  to { opacity: 1;
    transform: translateY(0); }
}


h1{background-color: #3a1845; font-size: 40px; text-shadow: 0 0 10px #00FFFF;}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  font-size: 30px;
  margin: 2%;
  background-color: #3a1845;
}

@media screen and (width >= 600px) {
  .wrapper {
    display: flex;
  }

  .col1 {
    flex: 1;
    margin-right: 5%;
  }

  .col2 {
    flex: 1;
    margin-right: 5%
  }
}

.nav {background-color: rgb(0, 255, 255, 0.5); padding: 8px; display: inline-block; font-size: 20 px; border-radius: 5px; transition: 
background-color 0,3s ease;}

.nav:hover {
background-color:#00FFFF
}

.typewriter {
position: relative;
 display: inline-block;
 overflow: hidden;
 font-size: 30px;
 line-height: 1;
 white-space: nowrap;
 animation: typing 4s steps(22,end) forwards;
}

.typewriter::after{
  content: "|";
  position: absolute;
  right: 0;
  color: rgb(255 255 204);
  background-color: #3a1845;
  animation: blink 3s step-end infinite;
  animation-delay: 0s;
}

@keyframes typing{
  from {width: 0}
  to 
  {width: 24ch;}
}

@keyframes blink {
  50%{
    border-color: transparent;
  }
}

.button-section p {
    font-size: 16px;
    margin-bottom: 24px;
}

button {
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.button-01 {
    background-color: #5800cc;
    color: #ffffff;
    padding: 16px 32px;
    border: 4px solid #5800cc;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.button-01:hover {
    background-color: #ffffff;
    color: #5800cc;
    border-color: #5800cc;
}

.p1
{background-color: #993344; font-size: 20px; line-height: 1.8; max-width: 65ch; margin: 1.5em auto; padding: 1.2em 1.5em; 
text-align: left;text-indent: 2em;}
.p3
{background-color: #1f1964; font-size: 20px; line-height: 1.8; max-width: 65ch; margin: 1.5em auto; padding: 1.2em 1.5em;
text-align: left;text-indent: 2em;}
.indent {
  display: block;
  text-indent: 2em;
}
.p2
{background-color: #9a3445; padding: 8px; display: inline-block; 
border: 5px solid #3a1845; font-size: 28px;}
ul {text-shadow: 0 0 10px #00FFFF; padding: 12px 36px; border: 2px solid darkmagenta;
width: fit-content; margin: 1em auto; 
list-style-position: inside; background-color: #3a1845; font-size: 22px;}
.li {margin:0.4em 0; display: list-item; font-size:larger; font-family: monospace; text-align: left; transition: background-color 0.3s ease;
}

.p2:hover {background-color: #cc0077;}

.p3
@keyframes flashborder {
0% {border-color: darkmagenta;
}
50% {
  border-color: blue;
}
100% {
  border-color: darkmagenta;
}
  
.h3 {padding: 8px; display: inline-block; 
border: 5px solid #3a1845; font-size: 28px;}}
h2:hover {background-color: #777799;}


.img-container {width: 350px;
    height: 350px;
    overflow: hidden; /* THIS hides the zoom */}

.img {width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;}

.img:hover {transform: scale(1.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);}

.socials {text-shadow: 0 0 10px #00FFFF; padding: 8px; border: 5px solid darkmagenta;
width: fit-content; padding: 20px 50px; list-style-position: inside;
animation: flashborder 2s infinite; 
background-color: #777799; color: rgb(255 255 204); box-shadow: 8px 8px 5px rgb(128, 0, 128); font-size: 30px}

.socials {display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 20px;}

.footer {background-color: #993344; padding: 8px; display: inline-block; border: 5px solid #3a1845; font-size: 20 px; transition: text-emphasis-color 0.3s ease}

.footer:hover {
    background-color: gray;
}